.login-card {
  /* width: 440px; */
  height: 801px;
  /* position: absolute;
  top: 155px;
  opacity: 1; */

  padding: 16px ;

  background: #DAF0FE;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  overflow: auto;
}

.main-bg{
  background: #DAF0FE;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
  -webkit-appearance: none;
}
